pkgbase = motd
	pkgdesc = Message of the day for CLI
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Meow0x7E/motd-zsh
	arch = any
	license = MIT
	depends = zsh
	depends = figlet
	depends = git
	optdepends = fastfetch: 系统信息显示，提供 fetch 模块功能
	optdepends = neofetch: 系统信息显示，提供 fetch 模块功能
	optdepends = uwufetch: 系统信息显示，提供 fetch 模块功能
	optdepends = screenfetch: 系统信息显示，提供 fetch 模块功能
	optdepends = hyfetch: 系统信息显示，提供 fetch 模块功能
	optdepends = slow-scan-print: 慢速扫描打印
	optdepends = lolcat-rs: 彩色文本输出，建议使用，速度更快
	optdepends = lolcat: 彩色文本输出
	source = https://github.com/Meow0x7E/motd-zsh/archive/refs/tags/v1.0.0.tar.gz
	sha512sums = 4c1fab279d1628413fcced905e853de316303ba91319f651937223501af6ceb6dbcb29d10318424cc11f724935aa5cf572b4fadb2515c96906838da48568885a
	b2sums = 2e4127ccfb7e8605ea0a62d1c7217f5c03d1f9f23865e2fe80784d51f38d3881eb5769d4db006601d7a3333d4cca24815b659a8ad092813185e119a1bafdafc8

pkgname = motd
