pkgbase = motd
	pkgdesc = Message of the day for CLI
	pkgver = 0.3.2
	pkgrel = 1
	url = https://github.com/Meow0x7E/motd-zsh
	arch = any
	license = MIT
	depends = zsh
	depends = figlet
	optdepends = fastfetch: system information display providing support for fetch modules, prioritized for use by fetch modules
	optdepends = neofetch: system information display, support for fetching modules
	optdepends = slow-scan-print: slow scan print
	optdepends = lolcat: color text output, recommended to use cargo to get the version rewritten with rust for fastest speed
	optdepends = fastfetch: 系统信息显示，支持获取模块，优先供获取模块使用
	optdepends = neofetch: 系统信息显示，支持提取模块
	optdepends = slow-scan-print: 慢速扫描打印
	optdepends = lolcat: 彩色文本输出，建议使用 cargo 获得使用 rust 重写的版本，以获得最快速度
	source = https://github.com/Meow0x7E/motd-zsh/archive/refs/tags/v0.3.2.tar.gz
	sha512sums = 5c8ce2bb9e142f640000cca0e6bcf18a58e02c23c5f23c195e79a68eb00a19fe00638e03ca8263a7022b8134d8d00e6d863733acc5182fbc7b93314e680e0427
	b2sums = bc33ff1c405bc9a9099e3edcbfdb8e1b8476d976d82a705960803797023a72e3473d25e6c1775f23cc25561c230addee33186d8447c036959436077e6fad1c26

pkgname = motd
